#!/bin/bash

# Amy Olex
# 9/26/16
# Config file for extract_unmapped_reads_gdc script
# INFILE must contain a directory and a file on each line
# All directories must already exist

MAXJOBS=4
MAINDIR="/var/tcga/HNSC/WGS_GDC_Legacy"
INFILE="WGS_24SolidNormal_files_to_process.txt"
LOGFILE=$MAINDIR/LOGS/log_extract_human_unmapped_reads_24SolidNormal_092616.txt
OUTDIR="/var/tcga/HNSC/WGS_GDC_Legacy/WGS_24SolidNormals_AllUnmappedWithMates/1_Extracted_HumanUnmapped_BAMFiles"
TMPDIR="/var/tcga/HNSC/WGS_GDC_Legacy/TMP"
FASTQDIR="/var/tcga/HNSC/WGS_GDC_Legacy/WGS_24SolidNormals_AllUnmappedWithMates/2_FASTQ"

